/* General Styles */
.todo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 500%;
  height: 100%;
  margin: 0 auto;
  background-color: #FFF4F0;
  padding: 50px;
}

.todo-header {
  background-size: cover; 
  padding: 20px 10%;
  width: 100%;
  background-color: #FF7F4D;
}

.todo-container .todo-header h1 {
  display: flex;
  flex-direction: column;
  align-items: center; /* Align items to the center horizontally */
  text-align: center; 
  font-family: 'Gotham Bold', sans-serif;
  font-size: 40px;
  color: #5E1B89;
}

.todo-input::placeholder {
  color: #5E1B89; /* Adjust placeholder font color */
  font-family: "Gotham Book", sans-serif; /* Apply Gotham Book font */
  font-size: 14px;

}

.todo-input {
  color: #5E1B89 !important; /* Adjust input text color */
  font-family: "Gotham Book", sans-serif; /* Apply Gotham Book font */
  height: 50px;
}

.add-button {
  background-color: #9D71BC; /* Set button background color */
  border-color: #9D71BC; /* Set button border color */
}

.add-button:hover {
  background-color: #F4512C; /* Set hover background color */
}

.todo-form {
  width: 100%;
  
}

.todo-title {
  color: #6f0185; /* Corrected color value */
  font-family: "Gotham Book", sans-serif;
}

.filter-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5px;
}

.dropdown-wrapper {
  margin-right: 10px;
}

.completed-count {
  font-style: italic;
  font-family: "Gotham Book", sans-serif;
  color:  #5E1B89;
  font-size: 12px;
  text-align: center;
}

/*ToDoTitle Card Container*/
.todo-list-container {
  display: flex;
  flex-direction: column;
  right: 10px;
  width: 100%;
  margin: 0 auto;
}

.filter-container {
  margin-top: 10px;
}

.todo-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

.date-created {
  font-size: 14px;
  font-style: italic;
  font-family: "Gotham Book", sans-serif;
}

/*icon*/
.edit-icon{
 color: #F4512C;
 font-size: 24px; 
}
.trash-icon {
  color: #5E1B89; 
  font-size: 24px; 
}

.edit-button,
.delete-button {
  background-color: transparent !important; 
  border: none !important; 
  padding: 0; 
}

.edit-button-icon {
  color: #9D71BC !important; 
  font-weight: bold !important;
  font-size: 24px; 
  margin-right: -15px; 
}

/*action btn */

.action-buttons {
  margin-top: 10px;
  display: flex;
  justify-content: space-between; /* Add space between the buttons */
}

.action-buttons .btn {
  border: none; 
  background-color: #9D71BC;
  color: #FFFFFF;
  cursor: pointer;
  padding: 0.25rem 0.5rem; 
  border-radius: 0.5rem;
  transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  font-family: "Gotham Medium", sans-serif;
  font-size: 15px; 
}

/* Mark All Done & Delete All Btn */
.action-buttons .btn:last-child {
  margin-right: 0;
  border-radius: 10px; 
  line-height: 2.0; 
}

.action-buttons .btn:hover {
  background-color: #F4512C;
}

.action-buttons .btn:focus {
  outline: none;
}

/* Message DropDown */
.message {
  font-family: 'Gotham Medium', sans-serif;
  color:#F4512C;
}

button.add-button.btn.btn-secondary {
  background-color: #9D71BC;
}

button.add-button.btn.btn-secondary:hover {
  background-color: #F4512C;
}

button.add-button .add-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 50; 
  font-size: 20px;
}

/* Dropdown Filter */
.dropdown-menu .dropdown-item {
  font-family: 'Gotham Medium', sans-serif; 
  font-size: 12px; 
  font-weight: bold; 
  line-height: 1.8;
  color: #5E1B89;
  background-color: #FF7F4D;
}

.dropdown-menu .dropdown-item:hover {
  color: white;
  background-color: #FF7F4D;
  transition: none; 
}

/* Dropdown */
.small-dropdown .dropdown-toggle {
  border: none; 
  background-color: #9D71BC; 
  padding: 0.25rem 1.0rem;
  font-size: 0.80rem;
  line-height: 2.8;
  transition: none; 
  border-radius: 10px; 
}

.small-dropdown .dropdown-toggle:hover {
  background-color: #FF7F4D;
  transition: none; 
}

.edit-input.form-control,
.react-datepicker__input-container input {
  border: 1px solid #F4512C;
  border-radius: 5px;
  padding: 0.375rem 0.75rem;
  background-color: transparent;
  color: #5E1B89;
  font-family: "Gotham Book", sans-serif;
  margin-right: 10px; 
  margin-top: 10px;
}

.empty-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%; 
}

.empty-image {
  width: 100%; /* Make the image responsive */
  max-width: 500px; 
  height: auto; 
  margin-top: 20px; /* Adjust the top margin as needed */
}